'.source.dasm':
  'editor':
    'commentStart': '; '
    'increaseIndentPattern': '^\\s*(\\.).*$'
    'decreaseNextIndentPattern': '^\\s*(\\.include|\\.INCLUDE|\\.define|\\.DEFINE|\\.magic|\\.MAGIC|\\.org|\\.ORG|\\.dat|\\.DAT).*$'
